<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--配置读取spring文件的路径-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

    <filter>
        <filter-name>accessFilter</filter-name>
        <filter-class>cn.edu.zjut.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>accessFilter</filter-name>
        <url-pattern>/publish_post.jsp</url-pattern>
        <url-pattern>/page/notice.jsp</url-pattern>
        <url-pattern>/page/myTopic.jsp</url-pattern>
        <url-pattern>/page/change-info.jsp</url-pattern>
        <url-pattern>/manager/bestTopic.jsp</url-pattern>
        <url-pattern>/manager/change_info.jsp</url-pattern>
        <url-pattern>/manager/create_discuss.jsp</url-pattern>
        <url-pattern>/manager/limitUser.jsp</url-pattern>
        <url-pattern>/manager/newTopics.jsp</url-pattern>
        <url-pattern>/manager/sensitiveWords.jsp</url-pattern>
    </filter-mapping>

</web-app>