.tb {
    margin: 0 auto;
}

.tb tr th, .tb tr td {
    BORDER-left: #c2daf2 1px solid;
    BORDER-top: #c2daf2 1px solid;
    font-weight: normal;
    color: #000;
    background-repeat: repeat-x;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial, "宋体";
    padding: 10px;
}

.tb tr th {
    width: 180px;
    background-color: #eff5fb;
}

.tb tr td {
    width: 800px;
    background-color: #f5f5f5;
}

.tb tr input {
    width: 500px;
}

.tb tr span {
    color: red;
}

.tab {
    width: 80px;
    border: 1px solid #ddddde;
    height: 27px;
    background: -webkit-linear-gradient(#e3e3e3, #fff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#e3e3e3, #fff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#e3e3e3, #fff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#e3e3e3, #fff); /* 标准的语法 */
    text-align: center;
    line-height: 27px;
}

.tab:hover, .omg {
    background: #f5f5f5;
    border-bottom: 1px solid #fff;
}

#small_btn_select {
    width: 120px;
}

#big_btn_select {
    width: 270px;
}

.btn-select {
    position: relative;
    display: inline-block;

    height: 35px;

    font: 14px/20px "Microsoft YaHei";
    color: #fff;
}

.btn-select .cur-select {
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
}

.btn-select select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    opacity: 0;
    /*filter: alpha(opacity: 0;);*/
    font: 14px/20px "Microsoft YaHei";
    color: #000;
}

.btn-select select option {
    text-indent: 10px;
}

.btn-select select option:hover {
    background-color: #f80;
    color: #fff;
}